@use "../assets/default.scss" as *;

.sidebar-wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: calc(100% - 57px);
    .MuiDrawer-paper {
        width: 250px;
        height: 100%;
        position: relative;
        border-right: 1px solid #f2f5f7;
    }
}
