@use "../../../assets/default.scss" as *;

.nav-item {
    border-radius: 0 !important;
    transition: background-color 0.15s ease !important;

    .MuiListItemIcon-root {
        min-width: 34px !important;

        svg {
            width: 18px;
            height: 18px;
            color: $greyText;
        }
    }

    .MuiListItemText-root .MuiTypography-root {
        font-family: $fontOutfitMedium;
        font-size: $font14;
        color: $darkIndigo;
    }

    &:hover {
        background-color: $backgroundHover !important;

        .MuiListItemIcon-root svg {
            color: $darkIndigo;
        }
    }

    &.sidebar-nav-item {
        height: 48px;
        padding: 12px 16px;
        margin-bottom: 0;
        width: 100%;
    }

    &.sidebar-nav-active {
        background-color: $backgroundHover !important;

        .MuiListItemIcon-root svg {
            color: $darkIndigo;
        }

        .MuiListItemText-root .MuiTypography-root {
            color: $darkIndigo;
            font-family: $fontOutfitSemiBold;
        }
    }
}
